footer {
  margin-top: 5%;
  .col-12 {
    img {
      width: 40%;
    }
  }
  .col-6 {
    .text-small {
      a {
        color: $secondary-color;
        text-decoration: none;
        &:hover {
          color: $secondary-color-hover;
        }
      }
    }
  }
}
