@mixin text-form {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $grey-color;
}

@mixin fondo {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin txt_destacado {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  line-height: 5rem;
}
@mixin boton {
  width: 30%;
  border-bottom: 15px solid $primary-color;
}
